name: ehoks-ui

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Setup PNpM
        uses: pnpm/action-setup@v4
        with:
          standalone: false
          run_install: false

      - name: Cache pnpm store
        uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Install Tools
        shell: bash
        run: |
          git clone https://github.com/Opetushallitus/ci-tools.git
          source ci-tools/common/setup-tools.sh
          pnpm install --frozen-lockfile

      - name: Run Checks and Build
        shell: bash
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          source ci-tools/common/setup-tools.sh
          pnpm run ci
          pushd oppija
          export BASE_IMAGE=baseimage-fatjar-openjdk8:master
          export TRAVIS_BUILD_NUMBER="$GITHUB_RUN_NUMBER.$GITHUB_RUN_ATTEMPT"
          ../ci-tools/common/pull-image.sh
          ./scripts/ci/build.sh ehoks-oppija-ui
          popd
          pushd virkailija
          ./scripts/ci/build.sh ehoks-virkailija-ui
          popd
          pushd tyopaikantoimija
          ./scripts/ci/build.sh ehoks-tyopaikantoimija-ui
          popd

      - name: Upload Packages
        shell: bash
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          source ci-tools/common/setup-tools.sh
          export BASE_IMAGE=baseimage-fatjar-openjdk8:master
          export TRAVIS_BUILD_NUMBER="$GITHUB_RUN_NUMBER.$GITHUB_RUN_ATTEMPT"
          export TRAVIS_BRANCH=${{ github.ref_name }}
          export TRAVIS_COMMIT=${{ github.sha }}
          ./ci-tools/build/upload-image.sh ehoks-oppija-ui
          ./ci-tools/build/upload-image.sh ehoks-virkailija-ui
          ./ci-tools/build/upload-image.sh ehoks-tyopaikantoimija-ui

